:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0 0 0 2rem;
  min-height: 100%;
}

.swatch {
  height: 10rem;
  width: 10rem;
  /* background-color: red; */
}

.controls {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

button {
  margin-top: 1rem;
  height: 3rem;
}

ul {
  list-style: none;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.saved-color .swatch {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
}
