:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0 0 0 2rem;
  min-height: 100%;
}

.swatch {
  height: 5rem;
  width: 5rem;
  background-color: red;
}

.controls {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  justify-content: center;
}
